$main: #FFD15B;
$grey: #7A7A7A;
$light-grey: #C6C6C6;
$black: #1B1B1B;
$bkground: #EDEDED;

@mixin font-main {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin font-sec {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  @include font-main;
}

main {
  padding: 21px 102px 201px 102px;
  background-color: $bkground;
}

header {
  background-image: url("../../assets/img/background.jpeg");
  background-color: $black;
  height: 667px;
  background-size: cover;
  background-position: center;

  .navbar-brand img {
    position: relative;
    width: 207px;
    height: 25.261px;
    top: 51px;
    left: 69px;
  }

  h1 {
    color: $main;
    @include font-sec;
    font-size: 2.75rem;
    position: relative;
    top: 225px;
    line-height: 70px;
  }

  .input-group {
    width: 954px;
    height: 57px;
    position: relative;
    top: 247px;

    &-append {
      display: flex;
      align-items: center;
    }

    &-text {
      background-color: #1B1B1B;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
      width: 51px;
      height: 51px;
      border: none;
      position: absolute;
      right: 3px;
      top: 3px;
      z-index: 10000;
      cursor: pointer;    
    }

    &-text:hover {
      background-color: $main;
      color: #1B1B1B;
    }
  }

  .close {
    z-index: 10000;
    position: absolute;
    top: 22px;
    right: 62px;
    display: none;
  }

  input::placeholder {
    color: $grey;
    @include font-main;
    font-size: 1rem;
  }

  .form-control {
    border-radius: 11px !important;
    &:focus .close {
      display:block;
    }
  }
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .dropdown-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 65px;

    .input-group-text {
      background-color: transparent;
      border: none;
      position: relative;
      top: 5px;
      cursor: pointer;
    }
  }

  .dropdown-menu {
    border: none;
    width: 156px;
    height: 215px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    color: $black;
    padding: 16px 0px 16px;
    overflow: auto;

    ul {
      list-style-type: none;
      padding: 0px;
    }
  }

  .input-group {
    width: 124px;
    border-radius: 2px;
    border: solid 1px $light-grey;
  }

  .form-control {
    border: none;
  }

  .dropdown-item:hover {
    background-color: $main;
  }

  .btn {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 160px;
    padding: 17px 16px;
    font-size: 1rem;
    color: $black;
    border: none;
    line-height: 0px;
    border-radius: 10px;
  }

  .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active, .btn:hover {
    color: $black;
    background-color: white;
    }
}

.dropdown-menu .show {
    inset: -5px auto auto 0px;
}

.selected {
  display: flex;
  background-color: #FFD15B;
  width: 167px;
  height: 38px;
  padding: 17px 18px;
  align-items: center;
  gap: 60px;
  border-radius: 10px;
  margin-top: 21px;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;

&::after {
  content: "\f057"; 
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-right: 14px;
  position: absolute;
  right: 0px;
  }
}


.count {
  @include font-sec;
  font-size: 1.313rem;
}

.cards {
  margin-top: 55px;
  font-size: 0.875rem;
  gap: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .card {
    border: none;
    text-decoration: none;
    margin-bottom: 66px;
    height: 45.688rem;

    &-time {
      background-color: $main;
      font-size: 0.75rem;
      width: 67px;
      height: 27px;
      padding: 5px 15px;
      border-radius: 21px;
      box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
      position: absolute;
      top: 21px;
      right: 22px;
    }

    &-body {
      padding: 32px 25px;
    }

    img {
      object-fit: cover;
    }

    h2 {
      @include font-sec;
      font-size: 1.125rem;
      margin-bottom: 29px;
    }

    h3 {
      font-weight: 500;
      font-size: 0.75rem;
      color: $grey;
      margin-bottom: 15px;
    }

    &-text {
      margin-bottom: 32px;
      overflow: hidden;
      max-height: 6em;
    }

    &-ingredients {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0px;

      &-details {
        gap: 0px;
      }
    }

    &-text-ingredient {
      margin-bottom: 0px;
    }

    &-text-qty {
      color: $grey;
      margin-bottom: 21px;
    }
  }
}